@-webkit-keyframes featureImgBounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

@keyframes featureImgBounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

body .page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 91;
}

    body .page-header nav {
        background-color: transparent;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        padding: 0;
        position: relative;
        background-color: transparent;
    }

    body .page-header .top-nav-stick {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: #fff;
        -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 6%);
        box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 6%);
        opacity: 0;
        -webkit-animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
        animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
        -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
        transition: all .3s cubic-bezier(.645,.045,.355,1);
    }

    body .page-header .nav-stick {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    body .page-header .nav-item .nav-link {
        padding: 8px 25px;
    }

    body .page-header .navbar-nav {
        flex-wrap: wrap;
    }

.page-header .btn-group .dropdown-toggle {
    line-height: 36px;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    opacity: 0.9;
}

.page-header .btn-group .dropdown-toggle:hover {
    opacity: 1;
}

body .main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

.top-section {
    position: relative;
    background-image: url(/images/background/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

    .top-section .container {
        padding-top: 350px;
        padding-bottom: 230px;
        position: relative;
    }

        .top-section .container .top-section-title {
            margin: 0;
            color: #2a2833;
            font-weight: 300;
            font-size: 60px;
            line-height: 1em;
            letter-spacing: -.06em;
        }

            .top-section .container .top-section-title span {
                font-weight: bold;
            }

        .top-section .container .top-section-text {
            margin: 0;
            font-size: 20px;
            line-height: 36px;
            color: #74727a;
            margin-top: 22px;
            margin-bottom: 10px;
        }

        .top-section .container .top-section-btn {
            padding: 18px 30px;
            margin-bottom: 10px;
        }

            .top-section .container .top-section-btn:first-of-type {
                margin-right: 5px;
            }

        .top-section .container .top-section-right {
            position: absolute;
            bottom: 7%;
            right: -30px;
        }

            .top-section .container .top-section-right:before {
                content: '';
                width: 639px;
                height: 639px;
                background-image: linear-gradient( 40deg, #ff43c0 0%, #ffa95c 100%);
                -webkit-box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 80%);
                box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 80%);
                border-radius: 50%;
                position: absolute;
                top: -14%;
                left: -24%;
                -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: bounce;
                animation-name: bounce;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                -webkit-animation-duration: 5s;
                animation-duration: 5s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            .top-section .container .top-section-right .img-wrapper {
                position: relative;
                -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
                animation: featureImgBounce 5s ease-in-out 0s infinite alternate
            }

        .top-section .container .img-wrapper .img-inside {
            position: absolute;
            top: 28px;
            bottom: 0;
            left: 44px;
            border-radius: 20px;
            width: 357px;
            height: 659px;
        }

.features-section {
    padding-bottom: 90px;
}

    .features-section .container {
        position: relative;
        z-index: 10;
    }

        .features-section .container .box {
            border-style: solid;
            border-width: 1px;
            border-color: #efefef;
            border-radius: 5px;
            padding: 2px;
            position: relative;
            margin-bottom: 30px;
        }

    .features-section [class*=col-]:nth-child(1) .box:before,
    .features-section [class*=col-]:nth-child(1) .box-icon {
        background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
    }

    .features-section [class*=col-]:nth-child(1) .box-icon {
        -webkit-box-shadow: 0px 20px 40px 0px rgb(255 118 142 / 80%);
        box-shadow: 0px 20px 40px 0px rgb(255 118 142 / 80%);
    }

    .features-section [class*=col-]:nth-child(2) .box:before,
    .features-section [class*=col-]:nth-child(2) .box-icon {
        background-image: linear-gradient( 40deg, #0db8ff 0%, #f332ff 100%);
    }

    .features-section [class*=col-]:nth-child(2) .box-icon {
        -webkit-box-shadow: 0px 20px 60px 0px rgb(141 142 255 / 80%);
        box-shadow: 0px 20px 60px 0px rgb(141 142 255 / 80%);
    }

    .features-section [class*=col-]:nth-child(3) .box:before,
    .features-section [class*=col-]:nth-child(3) .box-icon {
        background-image: linear-gradient( 40deg, #39aeff 0%, #3cff53 100%);
    }

    .features-section [class*=col-]:nth-child(3) .box-icon {
        -webkit-box-shadow: 0px 20px 40px 0px rgb(58 212 173 / 80%);
        box-shadow: 0px 20px 40px 0px rgb(58 212 173 / 80%);
    }

    .features-section [class*=col-]:nth-child(4) .box:before,
    .features-section [class*=col-]:nth-child(4) .box-icon {
        background-image: linear-gradient( 40deg, #ff703e 0%, #ffec4e 100%);
    }

    .features-section [class*=col-]:nth-child(4) .box-icon {
        -webkit-box-shadow: 0px 20px 40px 0px rgb(255 178 71 / 80%);
        box-shadow: 0px 20px 40px 0px rgb(255 178 71 / 80%);
    }

    .features-section .container .box:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: 5px;
        opacity: 0;
        background-image: linear-gradient( 40deg, #ff43c0 0%, #ffa95c 100%);
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    .features-section .container .box:hover:before {
        opacity: 1;
    }

    .features-section .container .inner-box {
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .features-section .container .box-icon {
        width: 108px;
        height: 108px;
        -webkit-box-shadow: 0px 20px 40px 0px rgb(255 118 142 / 80%);
        box-shadow: 0px 20px 40px 0px rgb(255 118 142 / 80%);
        border-radius: 5px;
        background-image: linear-gradient( 40deg, #ff43c0 0%, #ffa95c 100%);
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        font-size: 70px;
        margin-bottom: 30px;
    }

    .features-section .box h3 {
        margin: 0;
        font-size: 20px;
        line-height: 34px;
        color: #2a2833;
    }

    .features-section .box a {
        color: inherit;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    .features-section .box p {
        margin: 0;
        color: #74727a;
        font-size: 16px;
        line-height: 34px;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .features-section .box .features-link {
        color: #2a2833;
        font-size: 22px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

.video-section {
    position: relative;
    padding: 150px 0 59px;
}

    .video-section .video-one__bg {
        position: absolute;
        bottom: 0%;
        left: 0;
    }

    .video-section .container {
        position: relative;
        padding: 15px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#ffa95c), to(#ff43c0));
        background-image: linear-gradient( 0deg, #ffa95c 0%, #ff43c0 100%);
        border-radius: 7px;
        z-index: 10;
    }

    .video-section .video-box {
        position: relative;
        border-radius: 7px;
    }

        .video-section .video-box video {
            width: 100%;
            min-height: 500px;
            background: #fff;
        }

        .video-section .video-box .video-content {
            position: absolute;
            width: 100%;
            background-color: rgba(42, 40, 51, 0.6);
            top: 0;
            left: 0;
            bottom: 11px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            border-radius: 0px;
        }

        .video-section .video-box:hover .video-content {
            background-color: rgba(42, 40, 51, 0.2);
        }

        .video-section .video-box .video-btn {
            width: 106px;
            height: 106px;
            cursor: pointer;
            background-image: -webkit-gradient(linear, left top, right top, from(#ff4eb5), color-stop(51%, #ffa065), to(#ff4eb5));
            background-image: linear-gradient(to right, #ff4eb5 0%, #ffa065 51%, #ff4eb5 100%);
            background-size: 200% auto;
            text-align: center;
            border-radius: 50%;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            -webkit-box-shadow: 0px 20px 40px 0px rgb(42 40 51 / 80%);
            box-shadow: 0px 20px 40px 0px rgb(42 40 51 / 80%);
        }

            .video-section .video-box .video-btn i {
                font-size: 24px;
                color: #fff;
                line-height: 106px;
            }

        .video-section .video-box .video-title {
            font-size: 50px;
            font-weight: 400;
            color: #fff;
            margin: 0;
            margin-top: 20px;
        }

            .video-section .video-box .video-title span {
                font-weight: 700;
            }

.calendar-section {
    background-image: linear-gradient( 40deg, #ff43c0 0%, #ffa95c 100%);
    position: relative;
    z-index: 2;
}

    .calendar-section .section-title {
        margin-bottom: 0;
        padding-top: 45px;
    }

        .calendar-section .section-title h2 {
            color: #fff;
        }

        .calendar-section .section-title p {
            color: #fff;
            font-size: 25px;
        }

    .calendar-section .calendly-inline-widget {
        min-height: 700px !important;
    }

.customers-section {
    padding: 165px 0;
    position: relative;
}

    .customers-section .customers-bg {
        position: absolute;
        bottom: 4%;
        right: 0;
    }

    .customers-section .img-wrapper {
        position: absolute;
        left: -140px;
        top: 0;
        -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
        animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    }

        .customers-section .img-wrapper .img-inside {
            position: absolute;
            top: 36px;
            bottom: 0;
            left: 152px;
            border-radius: 20px;
            width: 355px;
            height: 654px;
            object-fit: cover;
        }

    .customers-section .container {
        position: relative;
    }

        .customers-section .container:before {
            content: '';
            width: 448px;
            height: 448px;
            border-radius: 50%;
            background-color: #f6fff7;
            position: absolute;
            top: -19%;
            left: -12%;
        }

    .customers-section .customers-phone {
        position: absolute;
        top: -45px;
        left: -10%;
        -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
        animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    }

    .customers-section .customers-icon {
        font-size: 62px;
        color: #604fdd;
    }

    .customers-section .section-title {
        margin-bottom: 0;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .customers-section ul {
        margin: 0;
        margin-top: 45px;
        margin-bottom: 50px;
        padding-left: 0;
        list-style: none;
    }

        .customers-section ul li {
            position: relative;
            font-size: 16px;
            color: #74727a;
            padding-left: 30px;
        }

            .customers-section ul li i {
                font-size: 18px;
                color: #604fdd;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

.customers-section-2 {
    padding: 120px 0;
    background-color: #fefbf4;
}

    .customers-section-2 .container {
        position: relative;
    }

    .customers-section-2 .customers-2-icon {
        font-size: 62px;
        color: #604fdd;
    }

    .customers-section-2 .section-title {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .customers-section-2 .section-title-text {
        letter-spacing: -.04em;
    }

    .customers-section-2 .text {
        margin-bottom: 50px;
    }

    .customers-section-2 p {
        margin: 0;
        color: #74727a;
        font-size: 25px;
        line-height: 34px;
    }

    .customers-section-2 ul {
        margin: 0;
        margin-top: 45px;
        margin-bottom: 50px;
        padding-left: 0;
        list-style: none;
    }

        .customers-section-2 ul li {
            position: relative;
            font-size: 16px;
            color: #74727a;
            padding-left: 30px;
        }

            .customers-section-2 ul li i {
                font-size: 18px;
                color: #604fdd;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

    .customers-section-2 .customers-stats {
        position: absolute;
        top: -40px;
        right: -35px;
        -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
        animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    }

.about-us-section {
    background-color: #fff9ff;
    padding-top: 110px;
    padding-bottom: 160px;
}

    .about-us-section .sliders-carousel-outer {
        position: relative;
        width: 100%;
        max-width: 890px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 30%);
        box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 30%);
    }

    .about-us-section .container {
        position: relative;
    }

    .about-us-section .slider-carousel {
        position: relative;
        padding: 2px;
        border-radius: 7px;
    }

        .about-us-section .slider-carousel:before {
            content: '';
            border-radius: 7px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#ff4eb5), to(#ffa065));
            background-image: linear-gradient( 0deg, #ff4eb5 0%, #ffa065 100%);
        }

        .about-us-section .slider-carousel .slider-container {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
        }

    .about-us-section .slider-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
        transition-duration: 0ms;
        transform: translate3d(0px, 0, 0);
    }

    .about-us-section .slider-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    .about-us-section .slide-one {
        padding-top: 71px;
        padding-bottom: 71px;
        background-color: #fff;
        text-align: center;
        border-radius: 7px;
    }

        .about-us-section .slide-one p,
        .about-us-section .slide-one h3,
        .about-us-section .slide-one span {
            display: block;
            margin: 0;
        }

        .about-us-section .slide-one p {
            color: #74727a;
            font-size: 20px;
            line-height: 34px;
            font-weight: 300;
            margin-bottom: 35px;
            min-height: 140px;
        }

        .about-us-section .slide-one h3 {
            color: #2a2833;
            font-weight: 500;
            font-size: 24px;
            line-height: 1em;
            margin-bottom: 10px;
        }

        .about-us-section .slide-one span {
            font-size: 14px;
            font-weight: 500;
            line-height: 1em;
            letter-spacing: .2em;
            color: #ff4eb5;
            text-transform: uppercase;
        }

        .about-us-section .slide-one img {
            width: 58px;
            height: 58px;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }

    .about-us-section .slider-carousel__shape-one,
    .about-us-section .slider-carousel__shape-two {
        width: 100%;
        height: 100%;
        background-color: #fff9ff;
        position: absolute;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
        bottom: -20px;
        opacity: .2;
        border-radius: 7px;
        background-image: linear-gradient( 68deg, #ff4eb5 0%, #ffa065 100%);
    }

    .about-us-section .slider-carousel__shape-two {
        -webkit-transform: scaleX(0.85);
        transform: scaleX(0.85);
        bottom: -40px;
    }

.brand-section {
    margin-top: 60px;
    height: 450px;
    z-index: 2;
    position: relative;
}

    .brand-section h3,
    .brand-section h5 {
        font-weight: 100;
    }

    .brand-section h3 {
        margin: 50px 0 0;
    }

    .brand-section .container {
        position: relative;
    }

    .brand-section p {
        font-size: 25px;
        color: #2a2833;
    }

    .brand-section .img-wrapper {
        padding: 35px 0 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        text-align: center;
    }

    .brand-section .integration-text {
        position: absolute;
        left: 50%;
        right: 0;
        top: 217px;
        font-size: 13px;
        font-weight: 400;
        padding-left: 30px;
    }

    .brand-section .iclickats-text {
        position: absolute;
        top: 265px;
        left: 50%;
        padding-left: 195px;
        font-size: 14px;
        font-weight: 500;
        color: inherit;
    }

    .brand-section .h3 {
        margin: 50px 0;
    }

.description-section {
    padding: 60px 0 120px;
    position: relative;
}

    .description-section img {
        position: absolute;
        top: -14%;
        right: 0;
    }

    .description-section .container {
        position: relative;
    }

    .description-section .description {
        position: relative;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

        .description-section .description:before {
            content: '';
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: 0px;
            right: 0px;
            border-radius: 7px;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            background-image: -webkit-gradient(linear, left bottom, left top, from(#ff4eb5), to(#ffa065));
            background-image: linear-gradient( 0deg, #ff4eb5 0%, #ffa065 100%);
            -webkit-transition: -webkit-transform .4s ease;
            transition: -webkit-transform .4s ease;
            transition: transform .4s ease;
            transition: transform .4s ease, -webkit-transform .4s ease;
        }

        .description-section .description.active {
            -webkit-box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 30%);
            box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 30%);
        }

            .description-section .description.active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

        .description-section .description .description-inner {
            background-color: #fff;
            padding: 32px 0;
            border-style: solid;
            border-width: 1px;
            border-color: #efefef;
            border-radius: 7px;
            position: relative;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
        }

        .description-section .description.active .description-inner {
            margin: 0 2px;
        }

        .description-section .description .description-title {
            padding: 0px 40px;
            position: relative;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
        }

        .description-section .description.active .description-title {
            padding-bottom: 0;
        }

        .description-section .description .description-title h4 {
            margin: 0;
            color: #2a2833;
            font-size: 18px;
            font-weight: 500;
        }

        .description-section .description.active .description-title h4 {
            color: #ff4eb5;
        }

        .description-section .description .description-content .inner {
            padding: 0 40px;
            padding-top: 25px;
            padding-bottom: 0px;
        }

    .description-section .description-content .inner p {
        margin: 0;
        color: #74727a;
        font-size: 16px;
        line-height: 30px;
    }

    .description-section .description + .description {
        margin-top: 20px;
    }

.skills-section {
    margin: 160px 0 80px;
}

    .skills-section .skill-item {
        margin-bottom: 15px;
        font-size: 15px;
        display: flex;
        padding: 0 20px;
    }

        .skills-section .skill-item i {
            font-size: 28px;
            margin-right: 10px;
            color: #604fdd;
        }

        .skills-section .skill-item span {
            font-weight: 400;
            text-align: left;
        }

        .skills-section .skill-item:first-of-type {
            padding-left: 0;
        }

        .skills-section .skill-item:last-of-type {
            padding-right: 0;
        }

.counters-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .counters-section .container {
        z-index: 10;
        position: relative;
    }

    .counters-section .counter-container {
        -webkit-box-shadow: 0px 20px 60px 0px rgb(42 40 51 / 5%);
        box-shadow: 0px 20px 60px 0px rgb(42 40 51 / 5%);
        width: 220px;
        height: 220px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        position: relative;
    }

        .counters-section .counter-container:before {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            border-radius: 50%;
            background-image: linear-gradient( 40deg, #ff43c0 0%, #ffa95c 100%);
        }

    .counters-section [class*=col-]:nth-child(1) .counter-container:before {
        background-image: linear-gradient( 40deg, #ff43c0 0%, #ffa95c 100%);
    }

    .counters-section [class*=col-]:nth-child(2) .counter-container:before {
        background-image: linear-gradient( 40deg, #0db8ff 0%, #f332ff 100%);
    }

    .counters-section [class*=col-]:nth-child(3) .counter-container:before {
        background-image: linear-gradient( 40deg, #39aeff 0%, #3cff53 100%);
    }

    .counters-section [class*=col-]:nth-child(4) .counter-container:before {
        background-image: linear-gradient( 40deg, #ff703e 0%, #ffec4e 100%);
    }

    .counters-section .counter-container-inner {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 20px 40px 0px rgb(255 118 142 / 30%);
        box-shadow: 0px 20px 40px 0px rgb(255 118 142 / 30%);
        border-radius: 50%;
        position: relative;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .counters-section [class*=col-]:nth-child(1) .counter-container-inner {
        -webkit-box-shadow: inset 0px 20px 40px 0px rgb(255 118 142 / 30%);
        box-shadow: inset 0px 20px 40px 0px rgb(255 118 142 / 30%);
    }

    .counters-section [class*=col-]:nth-child(2) .counter-container-inner {
        -webkit-box-shadow: inset 0px 20px 60px 0px rgb(141 142 255 / 30%);
        box-shadow: inset 0px 20px 60px 0px rgb(141 142 255 / 30%);
    }

    .counters-section [class*=col-]:nth-child(3) .counter-container-inner {
        -webkit-box-shadow: inset 0px 20px 40px 0px rgb(58 212 173 / 30%);
        box-shadow: inset 0px 20px 40px 0px rgb(58 212 173 / 30%);
    }

    .counters-section [class*=col-]:nth-child(4) .counter-container-inner {
        -webkit-box-shadow: inset 0px 20px 40px 0px rgb(255 178 71 / 30%);
        box-shadow: inset 0px 20px 40px 0px rgb(255 178 71 / 30%);
    }

    .counters-section .counter-container .counter {
        color: #2a2833;
        font-weight: 400;
        font-size: 30px;
        line-height: 1em;
    }

    .counters-section .counter-container-inner h3,
    .counters-section .counter-container-inner p {
        margin: 0;
    }

.site-footer {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0px -1px 0px 0px #efefef;
    box-shadow: 0px -1px 0px 0px #efefef;
}

    .site-footer .site-footer__upper {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .site-footer .footer-widget__contact {
        font-size: 16px;
        font-weight: 400;
        color: #74727a;
        margin: 0;
        line-height: 30px;
    }

        .site-footer .footer-widget__contact + .footer-widget__contact {
            margin-top: 15px;
        }

        .site-footer .footer-widget__contact a {
            color: inherit;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
        }

            .site-footer .footer-widget__contact a:hover {
                color: #604fdd;
            }

    .site-footer .footer-widget {
        width: 50%;
    }

    .site-footer .footer-widget__title {
        font-size: 18px;
        font-weight: 500;
        color: #2a2833;
        margin: 0;
        line-height: 1em;
        margin-bottom: 5px;
        margin-top: 25px;
    }

    .site-footer .footer-widget__links {
        margin: 0;
        margin-top: -5px;
    }

        .site-footer .footer-widget__links li {
            line-height: 1em;
        }

            .site-footer .footer-widget__links li + li {
                margin-top: 20px;
            }

            .site-footer .footer-widget__links li a {
                font-size: 16px;
                font-weight: 400;
                color: #74727a;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
            }

                .site-footer .footer-widget__links li a:hover {
                    color: #604fdd;
                }

    .site-footer .iclickats-img {
        width: 100%;
        max-width: 128px;
    }

    .site-footer .site-footer__bottom {
        background-color: #fff9ff;
    }

        .site-footer .site-footer__bottom .inner-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            padding-top: 44px;
            padding-bottom: 44px;
        }

        .site-footer .site-footer__bottom .site-footer__copy {
            font-size: 16px;
            font-weight: 400;
            color: #74727a;
            margin: 0;
        }

        .site-footer .site-footer__bottom a {
            color: #604fdd;
        }

.slider-nav-left,
.slider-nav-right {
    cursor: pointer;
}

.slider-nav-left {
    right: calc(100% + 90px);
}

.slider-nav-right {
    left: calc(100% + 90px);
}

[class*=slider-nav-] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 61px;
    height: 61px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: #2a2833;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

    [class*=slider-nav-]:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-image: linear-gradient( 68deg, #ff4eb5 0%, #ffa065 100%);
        opacity: 0;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    [class*=slider-nav-]:hover {
        color: #fff;
        -webkit-box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 80%);
        box-shadow: 0px 20px 60px 0px rgb(244 151 190 / 80%);
    }

        [class*=slider-nav-]:hover:before {
            opacity: 1;
        }

    [class*=slider-nav-] i {
        font-size: 22px;
        position: relative;
    }

.section-title {
    margin-bottom: 45px;
}

    .section-title h4 {
        font-weight: 300;
    }

    .section-title .section-title-text {
        margin: 0;
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 300;
        color: #2a2833;
        line-height: 1.2em;
    }

        .section-title .section-title-text span {
            font-weight: 700;
        }

.vp-team-section {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    background: #fcfcfc;
}

.leaders-team-section {
    padding-top: 400px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    background: #fcfcfc;
}

    .vp-team-section .team-deviders,
    .leaders-team-section .team-deviders {
        position: absolute;
        width: 100%;
        height: 1px;
        border-top: 1px dashed #bababa;
        bottom: 100px;
        z-index: 1;
        opacity: 0.6;
    }

    .vp-team-section .vp-team-title,
    .leaders-team-section .leaders-team-title {
        font-family: 'league spartan';
        font-size: 28px;
        opacity: 0.4;
        position: absolute;
        bottom: 260px;
        font-weight: normal;
    }

    .vp-team-section .team-bottom-shadow,
    .leaders-team-section .team-bottom-shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 90px;
        background: #fcfcfc;
        box-shadow: rgba(252, 252, 252, 1) 9px 5px 2px 5px inset, rgba(252, 252, 252, 1) 0px -18px 50px 40px;
    }

.vp-team-section .team-sliders-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: end;
    min-height: 550px;
}

.leaders-team-section .team-sliders-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: end;
    min-height: 420px;
}

    .vp-team-section .team-sliders-wrapper .team-sliders-background,
    .leaders-team-section .team-sliders-wrapper .team-sliders-background {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.6;
        text-align: center;
        overflow: hidden;
    }

.vp-team-section .team-sliders-wrapper .team-sliders-background {
    top: -165px;
}

.leaders-team-section .team-sliders-wrapper .team-sliders-background {
    top: -300px;
}

    .vp-team-section .team-sliders-wrapper .team-sliders-background img,
    .leaders-team-section .team-sliders-wrapper .team-sliders-background img {
        width: 650px;
    }

    .vp-team-section .team-sliders-wrapper .team-sliders-background .curent-vp-team-user,
    .leaders-team-section .team-sliders-wrapper .team-sliders-background .curent-leaders-team-user {
        position: absolute;
        top: 100px;
        width: max-content;
        font-size: 120px;
        font-family: 'League Spartan';
        z-index: -1;
        opacity: 0.2;
        letter-spacing: 42px;
        text-transform: uppercase;
    }

.vp-team-section .team-user-box,
.leaders-team-section .team-user-box {
    position: relative;
    z-index: 1;
}

.vp-team-section .inactive-box,
.leaders-team-section .inactive-box {
    height: 140px;
    width: 140px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #bababa;
    overflow: hidden;
    box-shadow: rgba(252, 252, 252, 1) 9px 5px 2px 5px inset, rgba(252, 252, 252, 1) 0px -4px 22px 13px;
}

    .vp-team-section .inactive-box:hover,
    .leaders-team-section .inactive-box:hover {
        cursor: pointer;
    }

    .vp-team-section .inactive-box img,
    .leaders-team-section .inactive-box img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        filter: grayscale(100%);
        width: 140px;
        object-fit: contain;
        object-position: center center;
        margin-bottom: 30px;
        opacity: 0.6;
    }

.vp-team-section .team-user-box:not(.active) .active-box,
.leaders-team-section .team-user-box:not(.active) .active-box {
    display: none;
}

.vp-team-section .team-user-box.active .inactive-box,
.leaders-team-section .team-user-box.active .inactive-box {
    display: none;
}

.vp-team-section .team-user-box .active-box,
.leaders-team-section .team-user-box .active-box {
    background: #fff;
    width: 360px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(96, 79, 221, 0.1) 0px 1px 2px 0px inset, rgba(96, 79, 221, 0.3) 0px 1px 10px 0px;
}

.vp-team-section .team-user-box .box-header,
.leaders-team-section .team-user-box .box-header {
    display: flex;
}

    .vp-team-section .team-user-box .box-header .header-img-wrapper,
    .leaders-team-section .team-user-box .box-header .header-img-wrapper {
        width: 100px;
        position: relative;
        top: -55px;
        overflow: hidden;
    }

    .vp-team-section .team-user-box .box-header > div:not(.header-img-wrapper),
    .leaders-team-section .team-user-box .box-header > div:not(.header-img-wrapper) {
        text-align: center;
        padding-left: 10px;
        margin-right: -10px;
        flex: 1 1;
    }

    .vp-team-section .team-user-box .box-header h3,
    .leaders-team-section .team-user-box .box-header h3 {
        font-size: 17px;
        color: #212529;
        line-height: 17px;
        margin-bottom: 5px;
    }

    .vp-team-section .team-user-box .box-header h4,
    .leaders-team-section .team-user-box .box-header h4 {
        font-size: 17px;
        font-weight: 700;
        color: #bababa;
        line-height: 17px;
    }

.vp-team-section .team-user-box.active .box-header img,
.leaders-team-section .team-user-box.active .box-header img {
    width: 100%;
    transform: scale(1.6);
    position: relative;
    top: 25px;
}

.vp-team-section .team-user-box .box-content,
.leaders-team-section .team-user-box .box-content {
    font-size: 13px;
    line-height: normal;
    color: #212529;
    padding: 20px 0;
    margin-top: -55px;
}

    .vp-team-section .team-user-box .box-content div:last-of-type,
    .leaders-team-section .team-user-box .box-content div:last-of-type {
        margin-top: 15px;
    }

.vp-team-section .team-user-box .team-sliders-nav,
.leaders-team-section .team-user-box .team-sliders-nav {
    position: absolute;
    bottom: -10px;
    text-align: center;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

    .vp-team-section .team-user-box .team-sliders-nav .prev,
    .leaders-team-section .team-user-box .team-sliders-nav .prev,
    .vp-team-section .team-user-box .team-sliders-nav .next,
    .leaders-team-section .team-user-box .team-sliders-nav .next {
        display: inline-block;
        color: #fff;
        background: #2C85FF;
        width: 50px;
        line-height: normal;
        padding: 2px 0;
        margin: 0;
        line-height: 18px;
        font-size: 28px;
        cursor: pointer;
    }

    .vp-team-section .team-user-box .team-sliders-nav .prev,
    .leaders-team-section .team-user-box .team-sliders-nav .prev {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-right: 2px;
    }

    .vp-team-section .team-user-box .team-sliders-nav .next,
    .leaders-team-section .team-user-box .team-sliders-nav .next {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px
    }

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@media (max-width: 575.9px) {
    .skills-section .skill-item:first-of-type {
        padding-left: 20px;
    }
}

@media (max-width: 1199.9px) {
    .customers-section .img-wrapper {
        display: block;
        position: relative;
        top: 55px;
        right: unset;
        left: unset;
    }

    .customers-section .container .justify-content-lg-end {
        justify-content: center !important;
    }
}

@media (max-width: 991.9px) {
    .top-section .container .top-section-right:before {
        display: none;
    }

    .top-section .container .top-section-right {
        display: block;
        position: relative;
        top: 55px;
        right: unset;
        left: unset;
    }

    .customers-section-2 .customers-stats {
        position: relative;
        top: 55px;
        right: auto;
        max-width: 100%;
    }

    .counters-section .counter-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.9px) {
    .brand-section .img-wrapper {
        top: 105px;
    }

    .brand-section img {
        max-width: 100%;
    }

    .brand-section .integration-text,
    .brand-section .iclickats-text{
        display: none;
    }
}

@media (max-width: 480px) {
    .top-section .top-section-right .img-wrapper,
    .customers-section .img-wrapper {
        width: 330px;
        margin: 0 auto;
    }

    .top-section .container .img-wrapper .img-inside {
        top: 20px;
        left: 31px;
        width: 268px;
        height: unset;
    }
    .customers-section .img-wrapper .img-inside {
        left: 72px;
        width: 167px;
        top: 17px;
        height: 94%;
    }

    .top-section .top-section-right .phone-border-img,
    .customers-section .img-wrapper .phone-border-img {
        width: 100%;
    }
}
